<div class="container">

  <div class="col-sm-4 col-md-4 col-lg-4 mb-4"> 
      <label>Categories </label> 
      <select class="form-control form-control-lg"   id="idCat" name="idCat"
       [(ngModel)]="IdType" (change)="onChange()">
        <option *ngFor="let cat of types" value="{{cat.idType}}">
             {{cat.nomType}} 
       </option>
  </select> 
 </div>

<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Marque</th>
            <th>Couleur</th>
            <th>Ram</th>
            <th>Stockage</th>
            <th>Prix</th>
            <th>Date Création</th>
            <th>Type</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let phone of phones">
            <td>{{ phone.id }}</td>
            <td>{{ phone.marque }}</td>
            <td>{{ phone.couleur }}</td>
            <td>{{ phone.ram }}</td>
            <td>{{ phone.stockage }}</td>
            <td>{{ phone.prix }}</td>
            <td>{{ phone.dateCreation | date: 'dd/MM/yyyy' }}</td>
            <td>{{ phone.type?.nomType }}</td>
            <!--<td>
              <a class="btn btn-danger" (click)="supprimerPhone(phone)">Supprimer</a>
              <a class="btn btn-success" [routerLink]="['/update-phone', phone.id]">Modifier</a>
            </td>-->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
